@model sHe_Ministries.Models.Prayers
@model sHe_Ministries.Models.Praises

@{
    ViewBag.Title = "Share";
}

<h2>Share Your Heart</h2>
@using (Html.BeginForm())
    {

<div class="row">
<div class="Col-md-4">
@Html.LabelFor(m=>m.FirstName)
@Html.TextBoxFor(m=>m.FirstName)
</div>

<div class="col-md-4">
@Html.LabelFor(m => m.LastName)
@Html.TextBoxFor(m => m.LastName)
</div>

 <div class="Col-md-4">
 @Html.LabelFor(m => m.Email)
 @Html.TextBoxFor(m => m.Email)
 </div>

 <div class="Col-md-4">
 @Html.LabelFor(m => m.PrayerRequest)
 @Html.TextAreaFor(m => m.PrayerRequest)
 </div>
        <div>

            <button class="btn btn-primary" type="submit"></button>
            </div>
      </div>
            }


